@keyframes loadingDots {
  0%, 20% {
    content: ".";
    
  }
  40%, 60% {
    content: "..";
  }
  80%, 100% {
    content: "...";
  }
}

.loading-dots {
  display: inline-block;
  width: 2em;
}

.loading-dots::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  animation: loadingDots 1.5s infinite;
} 