@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior: none;
}

@layer base {
  @font-face {
    font-family: "Playfair Display SC Regular";
    font-style: normal;
    font-weight: Regular;
    font-display: swap;
    src: url(/fonts/PlayfairDisplaySC-Regular.ttf);
  }
  @font-face {
    font-family: "DotGothic16 Regular";
    font-style: normal;
    font-weight: Regular;
    font-display: swap;
    src: url(/fonts/DotGothic16-Regular.ttf);
  }
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}