@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior: none;
}

@layer base {
  @font-face {
    font-family: "Playfair Display SC Regular";
    font-style: normal;
    font-weight: Regular;
    font-display: swap;
    src: url(/fonts/PlayfairDisplaySC-Regular.ttf);
  }
}
